<html>
<head>
</head>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<body>
<div id = 'flex-container'>
    <div id = 'sidebar'>
        <img src="/images/logo.png"/>
        <div id = 'sidebar-headings'>
            {{sidebar_headings}}
        </div>
    </div>
    <div id = 'content'>
        {{{body}}}
    </div>
</div>
</body>
</html>