<html>
	<head>
	</head>
		<link rel="stylesheet" href="../../../public/stylesheets/style.css" type="text/css">
	<body>
		<div id = 'flex-container'> 
			<div id = 'sidebar'>
				<img src="../../../public/images/logo.png"/>
				<div id = 'sidebar-headings'>
					<a href = "#">
						<div>
							Section Name
						</div>
					</a>
					<a href = "#">
						<div>
							Other Section
						</div>
					</a>
				</div>
			</div>
			<div id = 'content'>
				<h1>Statistics</h1>
				
				<div class = 'subsection'>
					<div class = 'subsection-actions'>
						section actions
					</div>
					<div class = 'statsbox'>
					</div>
					
				</div>
				
			</div>
		</div>
	</body>
</html>