<html>
	<head>
	</head>
		<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css">
	<body>
		<div id = 'flex-container'>
			<div id = 'sidebar'>
				<img src="../../public/images/logo.png"/>
				<div id = 'sidebar-headings'>
					<a href = "#">
						<div>
							Section Name
						</div>
					</a>
					<a href = "#">
						<div>
							Other Section
						</div>
					</a>
				</div>
			</div>
			<div id = 'content'>
				<h1>Section Title</h1>

				<div class = 'subsection'>
					<h2>Description</h2>
					<div class = 'subsection-actions'>
						section actions
					</div>
					Section Description
				</div>

				<div class = 'subsection'>
					<h2>Section Information</h2>
					<div class = 'subsection-actions'>
						section actions
					</div>
					Section Information
				</div>
			</div>
		</div>
	</body>
</html>